.Form {
    font-family: sans-serif;
    text-align: center;
  }
  
h4{
  font-family: sans-serif;
  text-align: center;
  }

label{
  font-family: sans-serif;
  text-align: center;
  color: brown;
}

input{
  margin-left: 2%;
}

